#gg-game-container {
  display:flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto !important;

  canvas { 
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}

.gg-game--hidden {
  display: none !important;
  canvas { display: none !important; }
}