@import './variables';

/* Global Styles */
html {
   background-color: #eee;
   width: 100%;
   height: 100%;
}

* {
  font-family: $primary-body-font;

}

* > h1, * > h2, * > h3 {
	font-family: $primary-font;
}

.float-right { float: right; }
.float-left { float: left; }
.row {
	display: block;
	padding: 0;
	margin: 0;
}

.gg-button {
	font-family: $primary-font;
	cursor: pointer;
	padding: 10px;
	font-weight: bold;
	text-align: center;
	border-radius: 5px;
	text-transform: uppercase;
}


.gg-link {
	font-weight: bold;
	outline: none;
	text-decoration: none;
	color: inherit;
	text-transform: uppercase;
	border-bottom: 0px solid #888;

	&:focus, &:visited, &:active, &:link {
		color: inherit;
	}

	&:hover {
		border-bottom: 2px solid #888;
	}
}

.gg-user-interface,
#game-container > canvas {
	display: none;
}

#game-container > canvas {
   margin: 30px auto;
   padding: 10px;
}
/* End Global Styles */

/* Introduction View */
@import './gg-introduction';

/* Tutorial View */
@import './gg-tutorial';

/* User Interface */
@import './gg-user-interface';

footer {
	font-family: $primary-font;
	color: #bbb;
	display: block;
	position: absolute;
	bottom: 0;
	padding: 20px;
	text-align: center;
	width: 100%;
}