html {
   font-family: "Courier New", Courier, monospace;
   box-sizing: border-box;
   background-color: #ddd;
   width: 100%;
   height: 100%;
}

#my-canvas > canvas {
   border-radius: 3px;
   cursor: pointer;
}