html {
   font-family: "Courier New", Courier, monospace;
   box-sizing: border-box;
   background-color: #eee;
   width: 100%;
   height: 100%;
}

#my-canvas > canvas {
   border-radius: 3px;
   cursor: pointer;
}

.user-interface {
	width: 800px;
	margin: 0 auto;
}

.help-icon {
	color: #888;
	font-size: 250%;
	font-weight: bold;
	padding: 11px 9px 9px 11px;
	vertical-align: center;
	background-color: #bbb;
	border-radius: 100%;
	border: 1px solid #777;
	margin: -50px auto 15px;
	text-align: center;
	width: 38px;
}

.side-menu {
	background-color: #ddd;
	border: 1px solid #bbb;
	border-radius: 3px;
	float: right;
	text-align: center;
	width: 150px;
	font-size: 90%;
	padding: 20px 20px 40px;
	margin: 10px 0px 0px 0px;
}

.side-menu-title {
	width: 80%;
	margin: 0 auto 10px;
	padding: 10px;
	text-align: center;
	border: 1px dashed #777;
}

.top-menu {
	background-color: #ddd;
	border: 1px solid #bbb;c
	border-radius: 3px;
}

.player-avatar {
	float: left;
}