html {
   font-family: "Courier New", Courier, monospace;
   box-sizing: border-box;
   border: 20px solid black;
   width: 100%;
   height: 100%;
}

.game-title {
   text-align: center;
   font-weight: bold;
   background-color: black;
   color: white;
   font-size: 200%;
   padding: 10px 10px 20px;
   border-radius: 10px;
   width: 30%;
   margin: -20px auto 0;
}

.pause,
.play {
   position: absolute;
   cursor: pointer;
   font-weight: bold;
   color: white;
   text-transform: uppercase;
   left: 30px;
   top: 30px;
   padding: 5px;
   background-color: teal;
   border-radius: 5px;
   text-align: center;
   width: 50px;

   transition: all 0.2s ease-in-out;
}

.pause:hover, play:hover {
   background-color: #222;
}

.play {
   display: none;
}

.start-info,
.start-button {
   font-size: 180%;
   font-weight: bold;
   text-align: center;
}

.start-info {
   color: black;
   margin: 50px auto 0;
   width: 40%;
}

.start-button {
   background-color: blue;
   border-radius: 10px;
   border: 5px solid darkblue;
   cursor: pointer;
   color: white;
   margin: 200px auto 0;
   padding: 20px;
   width: 20%;

   transition: all 0.2s ease-in-out;
}

.start-button:hover {
   background-color: #333;
   border: 5px solid #222;
}

.points,
.add-points {
   position: absolute;
   font-size: 200%;
   font-weight: bold;
}

.points {
   background-color: black;
   border-radius: 10px;
   color: white;
   padding: 20px;
   right: 10px;
   top: 10px;
}

.add-points {
   color: green;
   display: none;
   right: 30px;
   top: 90px;
   z-index: 9999;
}

#player,
#ball {
   display: none;
   left: 50%;
   position: absolute;
   z-index: 9999;
}

#player {
   background-color: blue;
   bottom: 50px;
   height: 5px;
   left: 50%;
   width: 20px;
}

#ball {
   background-color: red;
   border-radius: 100%;
   height: 20px;
   top: 100px;
   width: 20px;
}