//- <div class="tutorial-slide2">
//- <h1> How to Play </h1>
//- <p>
//- The game is simple, click the blocks to change their color. 
//- Match up at least three in a group and you’ll score points.
//- No diagonals!
//- </p>

//- <div class="tutorial-img">
//- <img src="./img/tutorial2.png" alt="Grid Grind Tutorial 2">
//- </div>
//- </div>