//- Tutorial view used to guide the player through the game
div(class="tutorial")
  div(class="skip-tutorial") Skip Tutorial 
    i(class="fa fa-arrow-right")

  div(class="tutorial-slide1")
  h1 Your Goal
  p 
    | So I heard you like puzzles! How about one that never ends?
    | In Grid Grind your goal is to face off against yourself and 
    | others, using nothing but your wit. How far can you get?

  div(class="tutorial-img")
    img(src="/assets/images/tutorial1.png" alt="Grid Grind Tutorial 1")

  block controls