//- <div class="tutorial-slide4">
//- <h1> You ready? </h1>
//- <p>
//- Keep your eyes open! Extra help is shown beside the game. New
//- challenges and rewards lie behind every new level.
//- </p>
//- 

//- <div class="selection-container">
//- <div class="button button-back">
//- <i class="fa fa-arrow-circle-left"></i> Back
//- </div>
//- </div>
//- </div>

//- </div>
