//- <div class="tutorial-slide3">
//- <h1> The Catch </h1>
//- <p> 
//- The more you match up in a group, the more points you’ll get! 
//- The trick is, the blocks change color according to the pattern 
//- you see on the side. Run out of lives and you start over.
//- </p>

//- <div class="tutorial-img">
//- <img src="./img/tutorial3.png" alt="Grid Grind Tutorial 3">
//- </div>

//- <div class="selection-container">
//- <div class="button button-back">
//- <i class="fa fa-arrow-circle-left"></i> Back
//- </div>
//- <div class="button button-next">
//- Next <i class="fa fa-arrow-circle-right"></i>
//- </div>
//- </div>
//- </div>