//- Tutorial view used to guide the player through the game
div(class="gg-tutorial")
  div(class="gg-skip-tutorial") Skip Tutorial 
    i(class="fa fa-arrow-right")

  div(class="gg-tutorial-slide1")
  h1 Your Goal
  p 
    | So I heard you like puzzles! How about one that never ends?
    | In Grid Grind your goal is to face off against yourself and 
    | others, using nothing but your wit. How far can you get?

  div(class="gg-tutorial-img")
    img(src=require("app/images/tutorial1.png") alt="Grid Grind Tutorial 1")

  block controls


//- <div class="gg-tutorial-slide2">
//- <h1> How to Play </h1>
//- <p>
//- The game is simple, click the blocks to change their color. 
//- Match up at least three in a group and you’ll score points.
//- No diagonals!
//- </p>

//- <div class="gg-tutorial-img">
//- <img src="./img/tutorial2.png" alt="Grid Grind Tutorial 2">
//- </div>

//- <div class="gg-selection-container">
//- <div class="gg-button gg-button-back">
//- <i class="fa fa-arrow-circle-left"></i> Back
//- </div>
//- <div class="gg-button gg-button-next">
//- <i class="fa fa-arrow-circle-right"></i> Next
//- </div>
//- </div>
//- </div>

//- <div class="gg-tutorial-slide3">
//- <h1> The Catch </h1>
//- <p> 
//- The more you match up in a group, the more points you’ll get! 
//- The trick is, the blocks change color according to the pattern 
//- you see on the side. Run out of lives and you start over.
//- </p>

//- <div class="gg-tutorial-img">
//- <img src="./img/tutorial3.png" alt="Grid Grind Tutorial 3">
//- </div>

//- <div class="gg-selection-container">
//- <div class="gg-button gg-button-back">
//- <i class="fa fa-arrow-circle-left"></i> Back
//- </div>
//- <div class="gg-button gg-button-next">
//- Next <i class="fa fa-arrow-circle-right"></i>
//- </div>
//- </div>
//- </div>

//- <div class="gg-tutorial-slide4">
//- <h1> You ready? </h1>
//- <p>
//- Keep your eyes open! Extra help is shown beside the game. New
//- challenges and rewards lie behind every new level.
//- </p>
//- <div class="gg-button gg-button-start">Start Game</div>

//- <div class="gg-selection-container">
//- <div class="gg-button gg-button-back">
//- <i class="fa fa-arrow-circle-left"></i> Back
//- </div>
//- </div>
//- </div>

//- </div>
