@import '../../../styles/_variables.scss';

.tutorial {
  box-sizing: border-box;
  background-color: rgba(0,0,0,0.2);
  position: absolute;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100vh;

  &__skip {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 40px;
    top: 40px;
    font-family: $primary-font;
    font-weight: bold;
    font-size: 1.6em;
    color: #bbb;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;

    &:hover { 
      color: darken(#bbb,20);
      transition: all 0.2s ease-in-out;
    }
  }

  &--closed {
    display: none;
  }

  &__slide {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 10px solid #bbb;
    background-color: #fff;
    padding: 20px 30px;
    text-align: center;
    width: 100%;
    height: 100%;

    p { font-size: 1.3em;}
  }

  img {
    width: 40%;
    margin: 0 auto;
  }

  h1, h2 {
    text-transform: uppercase;
    font-weight: bold;
  }
}

.tut-button {
  background: none;
  font-family: $primary-font;
  display: block;
  color: #ccc;
  margin: 10px;
  padding: 10px;
  font-size: 1.8em;
  border: none;
  outline: none;
  cursor: pointer;

  &__back {
    position: absolute;
    bottom: 20px;
    left: 20px;
    transition: all 0.1s ease-in-out;
    &:hover { 
      transition: all 0.1s ease-in-out;
      color: lighten($primary-blue,5);
    }
  }

  &__next {
    position: absolute;
    bottom: 20px;
    right: 20px;
    transition: all 0.1s ease-in-out;
    &:hover {
      transition: all 0.1s ease-in-out;
      color: lighten($primary-green,5);
    }
  }

  &__start {
    background-color: lighten($primary-green,100);
    color: $primary-green;
    border: 5px solid $primary-green;
    font-family: $primary-font;
    font-size: 2em;
    font-weight: bold;
    margin: 80px auto;
    padding: 20px;
    width: 50%;
    transition: all 0.2s ease-in-out;

    &:hover { 
      background-color: $primary-green; 
      color: white;
      transition: all 0.2s ease-in-out;
    }
  }
}