<!-- Footer -->
<footer>
<small class="gg-footer-text">
  Created by <a class="gg-link" href="https://www.alexmdodge.ca">Alex Dodge</a> 
</small>

<a href="https://github.com/alexmdodge/grid-grind" class="gg-footer-github" target="_blank">
  <i class="fa fa-github"></i>
</a>

<a href="https://www.paypal.me/AlexDodge" class="gg-footer-paypal" target="_blank">
  <i class="fa fa-coffee"></i>
</a>

<small class="gg-footer-text">
  2017
</small>
</footer>