 <!-- Intro screen used for name input -->
  <div class="gg-intro">

    <div class="gg-intro-logo">
      <img src="./images/gg-header-logo.png" alt="Grid Grind Logo Title" 
           class="gg-intro-logo-src">
    </div>

    <div class="gg-intro-name">
      <input type="text" id="gg-player-name" placeholder="ENTER NAME" 
             class="gg-field-input">
    </div>

    <div class="gg-intro-button">
      Play
    </div>
  </div>
  <!-- End of Intro Screen -->