@import '../../../styles/_variables.scss';

.intro {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  &__name {
    width: 50%;
    position: relative;
  }

  &__input {
    border-radius: 5px;
    text-align: center;
    font-family: $primary-font;
    color: rgba(46, 122, 236, 0.7);
    width: 100%;
    font-size: 2em;
    margin: 20px 0 10px;
    padding: 10px;
    outline: none;
    background-color: rgba(46, 122, 236, 0.1);
    border: 5px solid rgba(46, 122, 236, 0.5);
    &:focus {
      border: 5px solid rgba(46, 122, 236, 0.9);
    }
  }

  &__button {
    font-family: $primary-font;
    color: rgba(75, 189, 75, 1);
    cursor: pointer;
    width: 50%;
    padding: 10px;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    background-color: rgba(75, 189, 75, 0);
    border: 5px solid rgba(75, 189, 75, 1);
    border-radius: 5px;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    &:hover {
      transition: all 0.2s ease-in-out;
      color: white;
      background-color: rgba(75, 189, 75, 1);
    }
  }

  &__logo {
    width: 50%;
    margin-top: -40px;
  }

  &__logo-src {
    width: 100%;
  }
}